body{
	font-family: Helvetica;
	background-color: #EEE;
	color: #333333;
}
div
{
    background-image: url(https://i.imgur.com/gJB0DJs.jpg);
	text-align: center;
}

button{
	border-style: dotted;
	text-align: center;
}